<?xml version="1.0" encoding="UTF-8"?>

<included>

    <contextName>@project.artifactId@-@project.version@_@build.timestamp@</contextName>

    <if condition='property("profile").contains("test") || property("profile").contains("local")'>
        <then>
            <root level="DEBUG">
                <appender-ref ref="CONSOLE" />
            </root>
        </then>
        <else>
            <root level="DEBUG">
                <appender-ref ref="ELASTIC" />
            </root>
        </else>
    </if>

</included>